# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/_notes/resources/environments/pensford/.env
.env
.vscode/*
/_notes/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output/**

/src/templates.js
build.zip
/source
.idea/workspace.xml
.idea/vcs.xml
.idea/pensford-app.iml
.idea/modules.xml
.idea/misc.xml
.idea/*
.scannerwork/.sonar_lock
.scannerwork/report-task.txt

public/config.json
deploy/k8s/public/pensford-app-deployment.yaml
public/meta.json
src/meta.json
